<li>
  <%= link_to user.name, user %>
  <% if current_user.admin? && !current_user?(user) %>
      <!--削除ボタン-->
      <div class="">
      | <%= 
        link_to "削除", user, method: :delete,
        class: "btn btn-sm btn-primary",
        data: { confirm: "本当によろしいですか?" } 
        %>
      </div>
      <!--編集ボタン-->
      <div class="well">
        <%= 
        link_to "編集", edit_user_path(user),
        class: "btn btn-lg btn-primary"
        %>
      </div>
  <% end %>
</li>