<% provide(:title, '出勤中社員一覧') %>
<h1>出勤中社員一覧</h1>
<div class="row">
  <%= paginate @we %>
  <!-- ヘッドのテーブル部分 -->    
  <table class="table table-bordered table-striped table-condensed">
    <thead>
      <tr>
        <th>社員番号</th>
        <th>名前</th>
      </tr>
    </thead>
    <tbody>
    <!--each文-->
    <% @we.each do |we| %>
      <tr>
        <td><%= we.employee_number %></td>
        <td><%= we.name %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <%= paginate @we %>
</div>
