<div class="row">
  <%= button_to 'リセット', modified_log_path(@user, params:{id: @user.id}),{class: "btn btn-attendance btn-default"} %>

  <table class="table table-bordered table-striped table-condensed users_show-table">
      <thead>
        <tr>
          <th>日付</th>
          <th>変更前出社時間</th>
          <th>変更前退社時間</th>
          <th>変更後出社</th>
          <th>変更後退社</th>
          <th>支持者</th>
          <th>承認日</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table> 
</div>