<div class="modal-dialog">
  <div class="modal-content" style="padding:20px 0 30px;">
    <h3 style="text-align:center;">【残業申請】</h3>
    <p><%= @user.name %></p>
    <table class="table table-bordered table-striped table-condensed users_show-table">
      <thead>
        <tr>
          <th>日付</th>
          <th>曜日</th>
          <th>終了予定時間</th>
          <th>翌日</th>
          <th>業務処理内容</th>
          <th>支持者確認印</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <%# debugger %>
          <%# @day.each do |d| %>
          <!--残業日の指定（userの特定の残業日）-->
            <%#= form_with model: @day do |f| %>
            <td><%= @day[:attendance_day.to_s(:day)] %></td>
            <td><%#= @week[f.wday] %></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <%# end %>
          <%# end %>
        </tr>  
      </tbody>
    </table>
  </div>
</div>